BasedOnStyle: LLVM

Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty

SortIncludes: CaseSensitive

DerivePointerAlignment: false
PointerAlignment: Left

SpaceBeforeParens: ControlStatements

NamespaceIndentation: None

IncludeBlocks: Regroup
